
<%- include("header"); %> 

    <div class="box" id="heading">

        <h1> <%= listTitle  %>  </h1>

    </div>

    <div class="box">
        
        <% for( let i of results){ %>

            <form action="/delete" method="post">
                <div class="item">

                    <!-- Hidden input will be invisible to the rendered page -->
                    <input type="hidden" name="listName" value="<%= listTitle %>">

                    <!-- sends out the POST request to delete the item  -->
                    <label>
                        <input type="checkbox" name="checkbox" onChange="this.form.submit();" value="<%= i._id %>">
                        <p><%= i.name %></p>
                    </label>
                    
                </div>
            </form>

        <% } %>

        <form action="/" method="post" class="item">
            <input type="text" name="toDo" placeholder="New Item">
            <button type="submit" name="list" value=<%= listTitle %> >+</button>
        </form>
        
    </div>

<%- include("footer"); %> 
